$primary: #4d5ae5;
$pressed: #404bbf;
$dark: #2e2f42;
$success: #31d0aa;
$text: #434455;
$subtle-text: #8e8f99;
$accent: #e7e9fc;
$light: #f4f4fd;
$modal-overlay: #2e2f42;
$hero-bg: #2e2f42b2;
$modal: #fcfcfc;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

$computer: 1158px;
$tablet: 768px;
$mobile: 320px;